@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Teko&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Variables */
* {
  --main-color: #0C4A08;
}

/* Styles */
body { font-family: 'Poppins', sans-serif!important; }

.primary {
  color: white;
  background-color: var(--main-color);
}

.secondary {
  color: black;
  background-color: white;
  border: solid 1px var(--main-color);
}

.scrolling-wrapper{
	overflow-x: auto;
}

.suggestion-card {
  width: 500px!important;
}