<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A tool app to create balanced teams">
  <title>Team balancer</title>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div id="app" class="container mt-2">
    <h1><strong>Team Balancer</strong></h1>
    <section class="mb-4 card">
      <div class="card-body">
        <h2 class="card-title">New player</h2>
        <form @submit.prevent="addPlayer">
          <div class="row mb-2">
            <div class="col">
              <label>Name</label>
              <input v-model="newPlayer.name" class="form-control" placeholder="Cristiano Ronaldo" required>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Value: {{ newPlayer.value }}</label>
              <input v-model="newPlayer.value" type="range" class="form-range" min="1" max="10">
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-success"><i class="fa fa-plus"></i> Add player</button>    
          </div>
        </form>
      </div>
    </section>
    <div v-if="players.length > 0">
      <section class="mb-4 card">
        <div class="card-body">
          <h2 class="card-title">Players list</h2>
          <div class="list-group list-group-flush">
            <label v-for="player in players" :key="player.name" class="list-group-item">
              <input type="checkbox" v-model="player.selected" class="form-check-input me-1">
              {{ player.name }}
              <span class="badge bg-success rounded-pill">{{ player.value }}</span>
              <button @click="removePlayer(player)" class="btn btn-outline-danger btn-sm float-end"><i class="fa fa-trash"></i> Delete</button>
            </label>
          </div>
        </div>
      </section>
      <section class="row mb-4">
        <div class="col-sm-6 mb-2">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Team A <span class="badge bg-success rounded-pill float-end">{{teamValues[0]}}</span></h3>
              <ol class="list-group list-group-numbered list-group-flush">
                <li v-for="player in balancedTeams[0]" class="list-group-item">
                  {{player.name}}
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Team B <span class="badge bg-success rounded-pill float-end">{{teamValues[1]}}</span></h3>
              <ol class="list-group list-group-numbered list-group-flush">
                <li v-for="player in balancedTeams[1]" class="list-group-item">
                  {{player.name}}
                </li>
              </ol>
            </div>
          </div>
        </div>  
      </section>
      <button @click="shareTeams" class="btn btn-outline-success"><div class="fa fa-share"></div> Share teams</button>
    </div>
    <p v-else> Add some player </p>
  </div>
  <script src="./js/main.js" type="module"></script>
</body>
</html>